#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.p2r {
  border: 1px dotted darkslategrey;
  padding: 4px;
}

.ramens {
  text-align: left;
}

.recents {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.profile-image {
  width: 50px;
  border-radius: 50%;
  float: left;

}

.line-item {
  margin: 4px;

}